.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title {
  font-size: 4rem;
  padding-bottom: 50px;
  margin: 0;
  line-height: 1.15;
  text-align: center;
  color: #4EFFCD;
}

.description {
  padding-bottom: 20px;
  color: #4EFFCD;
}

.generate-button {
  margin-top: 20px;
  padding: 10px 0;
  width: 664px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #4EFFCD;
}

.header-title {
  display: flex;
  flex-direction: row;
}

.code-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}

.code {
  display: flex;
  flex-direction: column;
}

.code-output {
  width: 600px;
  height: 200px;
  padding: 1rem 2rem;
  background-color: white;
  border: 1px solid #282c34;
  border-radius: 10px;
}

